# do not add folders with this prefix
thesis_*

# exclude original data 
data/bikemi

# exclude work in progress folders
wip

# exclude .vscode settings as it is user- and os- specific.
.vscode
.idea
*.code_workspace
