# temporarily
body-misc

# for windows
.ipynb_checkpoints
.virtual_documents
__pycache__

# exclude original data 
data/bikemi

# avoid personal and project specific IDE/programming language settings
*.jupyterlab-workspace
.vscode
.code-workspace
.idea
